<!DOCTYPE html>
<html>
<head>
    <title>HealthApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to HealthApp</h2>

    <div class="auth-actions">
    <a href="/register" class="btn secondary">Register</a>
    <a href="/login" class="btn primary">Login</a>
</div>

</div>  

</body>
</html>




<!-- 
<div class="container">
        <h2>Welcome to HealthApp</h2>
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
    </div> -->
